
{% extends 'main.html' %}
         
{% block content %}
    <h1>
        Home Template
    </h1>

    
        <a href="{% url 'create-room' %}">Create room</a> <br><hr>
        <!-- <div>
        {% comment %} Bootstrap form {% endcomment %}
        <div>
            <a href="">Create Bootstrap Form</a>
        </div> <br><hr> -->
        {% comment %} Rendering rooms {% endcomment %}
        <div>
            {% for room in rooms %}
            <a href="{% url 'update-room' room.id %}">Edit</a> <br><hr>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
            <br><hr>
            <div>
                <span>@{{room.host.username}}</span>
                <h5>{{room.id}} -- <a href="/room/{{room.id}}">{{room.name}} </a> </h5>
                <small>{{room.topic.name}}</small>
                <br><hr>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock content %}


