{% extends 'main.html' %}


{% block content %}

<!-- Body -->
<div>
    <!-- Login Form -->
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username : </label>
        <input type="text" name="username" placeholder="Enter Username" id="username">
        <label for="password">Password : </label>
        <input type="password" name ="password" placeholder="Enter Password" id="password">
        <input type="submit" value="Submit">
    </form>



</div>


    
{% endblock content %}
    